/*---------COLORES---------*/

$primario: red;
$secundario: #790404;
$terciario: #ffc0c0ee;
$color-boton: rgb(163, 4, 4);

/*---------PADDING---------*/

$padding1: 10px;

/*---------TAMAÑOS---------*/

$gradient: radial-gradient(circle,black 40%, #790404 80%);