@import "variables";
@import "mixin";

* {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle,rgb(245, 226, 226) 20%, $terciario 80%);
}

a, a:visited {
    color: inherit;
}

/*-------------------------------- HEADER --------------------------------*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secundario;
    padding: 30px
}

.tituloPagina {
    font-family: 'Suez One', serif;
    color: $primario;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
    font-size: 5rem;
    margin: -30px;
}

.subtituloPagina {
    color: moccasin;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 2.5rem;
    margin: 0px;
}

.iconosHeader {
    font-size: 2rem;
    margin: 5px
}

#navbarNav {
    background-color: $primario;


    .nav-link {
        font-family: 'Staatliches', cursive;
        -webkit-text-stroke: 0.1px;
        -webkit-text-stroke-color: black;
        font-size: 1.6rem;
        font-weight: bold;
    }
}    


/*---------------------------------- FOOTER ----------------------------------*/


.footerPagina {
    background-color: $secundario;
}

.iconosFooter {
    font-size: 2rem;
    margin: 5px;
}

.textoFooter {
    font-size: 1rem;
}

.nombreFooter {
    font-family: 'Londrina Solid', cursive;
    font-weight: bold;
}

.footerPagina .col-sm-2 {
    padding: ($padding1*3)+5;
}

.footerPagina .col-sm-8 {
    padding: $padding1*5;
}

/*---------------------------------- INDEX ----------------------------------*/

.textoPrincipal {
    color: $primario;
    font-weight: bold;
    font-size: 4rem;
    font-family: 'Carter One', cursive;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: black;
    animation-duration: 5s;
    animation-name: desaparecer;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}

@keyframes desaparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}    

.botonPrincipal {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 1.5rem;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    border: solid 2px white;
    margin: 10px 10px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(252, 239, 239);
    transition: 0.3s font-size ease-in;
}

.botonPrincipal:hover{
    font-size: 2rem;
    color: $color-boton;
}

#seccionSecundaria {
    background: radial-gradient(circle,rgb(245, 226, 226) 20%, $terciario 80%);
}

#novedades {
    color: #fc7777;
    font-family: 'Aclonica', sans-serif;
    font-size: 3rem;
    background-color: #c10819;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgba(39, 38, 38, 0.808);
    transition: all 2s;
}

#novedades:hover {
    transform: scaleY(1.2);
    color: #751b1b;
    
}

.card-group .card {
    background: $secundario; 
    margin: 5px;


    .tituloNovedades {
        color: #f5c366;
        font-weight: bold;
        font-family: 'Manrope', sans-serif;
        font-size: 1.7rem;
    }


    .fuentesNovedades {
        font-family: 'Mate SC', serif;
        font-size: 1.4rem;
        color: #e6d3d3;
        letter-spacing: 1px;
    }

    .botonNuevo {
        display: block;
        margin-top: 10px;
    }
}




/*---------------------------------------- NOSOTROS ------------------------------------*/

.contenedorNosotros {
    margin-bottom: 15px;
}

.subtitulosSecciones {
    font-family: 'Knewave', cursive;
    padding: 25px 25px 10px 25px;
    text-align: center;
    font-size: 3rem;
    color: $secundario;
    border-bottom: solid 5px #750d0d;
    margin: 0px 10px 0px 10px;
    margin-bottom: 40px;
}


.pNosotros {
    font-family: 'Salsa', cursive;
    color: #560404;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem;
    background-color: #f17f7f;
    border-radius: 20px;
    padding: 10px;
}

.columnaPrimera {
    padding-bottom: 2.5rem;
    border-bottom: solid 5px coral;
}

.columnaSegunda {
    padding-top: 2.5rem;
}

.imagenesNosotros {
    border: $primario solid 3px;
}


.li1 {
    font-family: 'Fredoka One', cursive;
    color: #ea2336cc;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 13px;
    transition: all 2s;
}

.li1:hover {
    font-size: 2.2rem;
    color: #d30505;
}

.seccionNosotros {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
    margin: 50px 10px 50px 10px
}

.divProductos {
    margin: 5px;
}

.tituloExtra {
    font-family: 'Passion One', cursive;
    font-size: 2.8rem;
    color: #980311;
    border-bottom: solid 3px #750d0d
}

.infoExtra {
    font-family: 'Righteous', cursive;
    font-size: 1.2rem;
    padding: 12px;
    margin: 2px;
}

.productosNosotros {
    width: 270px;
    height: 160px;
    border-radius: 25px; 
}

$alimentos: (
    carne: 5px solid rgb(253, 161, 161),
    vegetales: 5px solid rgb(199, 90, 90),
    pan: 5px solid rgb(102, 44, 44)
);

@each $variable1, $bordes in $alimentos {
    .productosNosotros.#{$variable1} {
        border: $bordes;
    }
}

/*---------------------------------------- HAMBURGUESAS ------------------------------------*/

.nuestraHamburguesa {
    width: 800px; 
    height: 500px;
    display: block;
    margin: 0px auto 50px;
    border: $primario solid 5px;
}
 
.h4TituloHamburguesa {
     font-family: 'Marko One', serif;
     text-align: center;
     font-size: 1.8rem;
     padding: 10px;
     color: wheat;  
}
 
.pInfoHamburguesa {
     font-family: 'Oswald', sans-serif;
     color: #d6ae7a;
     font-size: 1.4rem;
     font-weight: bold;
     text-align: center;
     padding: 20px;
     letter-spacing: 1px;
}

.hamburguesaMenu {
    padding-bottom: 10px;
}

.mainHamburguesas .card {
    background-image: url(../Assets/depositphotos_6908971-stock-photo-red-background.jpg);
}

.card-body .btn {
    font-size: 1.3rem; 
    font-weight: bold;
}


/*---------------------------------------- SUCURSALES ------------------------------------*/

.mainSucursales {
    width: 100%;
    height: 900px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
    "img1 parrafo1"
    "img2 parrafo2"
    "img3 parrafo3";
}
 
@for $i from 1 through 3 {
    .imagenSucursal#{$i} {
        background-image: url(../Assets/hamburgueseria#{$i}.jpg);
        grid-area: img#{$i};
        @include imgsucursales;
    }
}
 
.divP1 {
    grid-area: parrafo1;
    background-image: url(../Assets/bordo.jpg);
    @include infsucursales;
 
    p {
        @include fuentes;
    }
}
 
.divP2 {
    grid-area: parrafo2;
    background-image: url(../Assets/bordo.jpg);
    @include infsucursales;
 
    p {
        @include fuentes;
    }
}
 
.divP3 {
    grid-area: parrafo3;
    background-image: url(../Assets/bordo.jpg);
    @include infsucursales;

    p{
        @include fuentes;
    }
}
 
.barrios {
    font-family: 'Boogaloo', cursive;
    color: #f78b8b;
    font-size: 2.5rem;
}


/*---------------------------------------- CONTACTO ------------------------------------*/

.datosFormulario {
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
    color: $primario;
    margin-bottom: 15px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgba(39, 38, 38, 0.808);
}

.botonesFormulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botonFormulario {
    padding: 10px;
    margin: 15px;
    background-color:#f70d22; 
    font-weight: bold;
    border-radius: 5px;
}

.mainContacto {
    margin: 20px;
}

/*---------------------------------------- PEDIDO ------------------------------------*/

.datosFormulario2 {
    font-family: 'Bungee Inline', cursive;
    background-color: #f7b8b8;
    width: 185px;
    display: block;
    margin: auto;
    font-size: 1.6rem;
    color: #ce324d;
    border: solid 3px #e7d5cf;
}

.barrio {
    margin: 5px auto 25px;
    padding: ($padding1)-2;
}

.inputChico {
    margin: 5px auto 10px;
    display: block;
}

.boton_Pedido {
    font-size: 1rem;
    transition: all 5s;
}

.boton_Pedido:hover{
    transform: scale(1.2);
}

.seccionPedido {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.divHamburguesa {
    display: flex;
}

.precioHamburguesa {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    margin-top: 15px;
    color: #a70101;
}

.hamburguesaPedido {
    width: 200px;
    margin-bottom: 10px;
}

@each $pedido in royale2 petit2 nostra2 {
    .hamburguesaPedido.#{$pedido} {
        @if $pedido == royale2 {
            border-radius: 100px;
            border: solid 4px $primario;
        } 
        @else if $pedido == petit2 {
            border: solid 4px $primario;
        }
        @else if $pedido == nostra2 {
            width: 165px;
            height: 165px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: solid 4px $primario;
        }
    }
}

/* ------------------------MEDIAQUERIES------------------------ */ 

@media (min-width: 350px) and (max-width: 575px) {
    /* ----SECCION INDEX ----*/
    
        #navbarNav {
            .nav-link {
                font-size: 0.8rem;
                -webkit-text-stroke: 0.1px;
                -webkit-text-stroke-color: black;
                font-weight: bold;
            }
        }    

        #novedades {
            font-size: 2.5rem;
        }

        .tituloPagina {
            font-size: 4rem;
        }

        .textoPrincipal {
            font-size: 1.8rem;
            letter-spacing: 2px;
            -webkit-text-stroke: 0.1px;
            -webkit-text-stroke-color: black;
        }

        .botonPrincipal {
            font-size: 1rem;
            letter-spacing: 1px;
        }

        .botonPrincipal:hover{
            font-size: 1.3rem;
            color: $color-boton;
        }

        .card-group .card .tituloNovedades{
            font-size: 1.3rem;
        }

        .card-group .card .fuentesNovedades {
            font-size: 1.4rem;
        }
        

    /* ----SECCION NOSOTROS ----*/    

        .columnaPrimera {
            @include flex;
            border-bottom: 4px solid coral;
        }

        .columnaSegunda {
            @include flex
        }
        
        .imagenesNosotros {
            width: 20rem;
        }
        .pNosotros {
            padding: $padding1+15;
        }

        .seccionNosotros {
            display: none;
        }
    /* ----SECCION HAMBURGUESAS ----*/
        .nuestraHamburguesa{
            display: none;
        }

        .subtitulosSecciones {
            font-size: 2.6rem;
            width: 93%;
        }

        .mainHamburguesas .card {
            margin-bottom: 10px;
        }

    /* ----SECCION SUCURSALES ----*/
        .barrios {
            font-size: 1.5rem;
        }

        .divP3 p {
            @include divP375
        }

        .divP2 p {
            @include divP375
        }

        .divP1 p {
            @include divP375
        }

     /* ----SECCION PEDIDO ----*/

        .seccionPedido {
            display: flex;
            flex-direction: column;
        }
}

@media (min-width: 576px) and (max-width: 900px) {

    /* ----SECCION INDEX ----*/
        #navbarNav {
            .nav-link {
                font-size: 1.2rem;
            }
        }    

        .col-sm .card-group {
            display: flex;
            flex-direction: column;
        }

        .card-group .card .tituloNovedades{
            font-size: 1.5rem;
        }

        .card-group .card .fuentesNovedades {
            font-size: 1.6rem;
        }

        .textoPrincipal {
            font-size: 3rem;
            letter-spacing: 2px;
        }

        .botonPrincipal {
            font-size: 1.3rem;
            letter-spacing: 1px;
        }

        .botonPrincipal:hover{
            font-size: 1.5rem;
            color: $color-boton;
        }

    /* ----SECCION NOSOTROS ----*/

        .columnaPrimera {
            @include flex
        }

        .columnaSegunda {
            @include flex
        }

        .productosNosotros {
            display: none;
        }
        

    /* ----SECCION HAMBURGUESAS ----*/
        .nuestraHamburguesa{
            width: 500px;
        }

        .h4TituloHamburguesa {
            font-size: 1.6rem;
        }

        .mainHamburguesas .col-sm-4 {
            width: 100%;
            margin-bottom: 1rem;
        }

    /* ----SECCION SUCURSALES ----*/
        .barrios {
            font-size: 1.9rem;
        }

        .divP3 p {
            @include divP576
        }

        .divP2 p {
            @include divP576  
        }

        .divP1 p {
            @include divP576
        }

    /* ----SECCION PEDIDO ----*/

        .seccionPedido {
            display: flex;
            flex-direction: column;
        }

}